# DON'T PUBLISH YOUR SECRETS / API KEYS / TOKENS ! #
tokens.json

### personal experiments ###
hitchhike/
pokemon/

# result files
out.html
out.png

###  databases / caches ###
is-user-cache.db

# Python cache
__pycache__

# personal script
push-files.sh
*.pem
